{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <a href="/jurnal/create" class="btn btn-info">Add Jurnal</a>
        <table class="table">
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </thead>
            <tbody>
                {% for j in jurnals %}
                <tr>
                    <td>
                        {{j.name}}
                    </td>
                    <td>
                        {{j.description}}
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col"></div>
</div>
  
{% endblock content %}