*{
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: #111827;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.main {
    background-color: aquamarine;
    height: 100vh;
    width: 200vw;
}